ul {
    display: inline;
    border: solid black 2px;
    border-radius: 5%;
    list-style-type: none;
    background-color: black;
    color: white;
    width: 14em;
    Height: 16em;
    margin: auto;
    margin-bottom: 2em;
    font-size: 10px;
    padding: 6px;
}
body {
    margin: 1em;
    background-color: white;
}
.navbar{
    margin-bottom: 1em;
    color: white;
    font-size: large;
    padding: .5em;

}



h5{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: white;
}